.footer{
    background-color: #131212;
    padding-top: 50px;
    padding-bottom: 30px;
}
.footer p{
    font-size: 14pt;
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
}
.footer ul{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.center-ul {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0; 
  }
  
  .center-ul li {
    margin-right: 20px; 
  }
  
  
  
  
  
  