#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
}
#navbar h1{
    font-size: 3rem;
    margin-left: 8%;
}
#navbar h1 a{
    display: flex;
    align-items: center;
    gap: 0.5rem;

}
#navbar form{
    display: flex;
    gap: 0.5rem;
}
#navbar input{
    padding: 0rem 1.7rem;
    border-radius: 4px;;
    background-color: #121212;
    color: #D7171E;
    border: 2px solid #D7171E;
}
#navbar form button{
    background-color: #D7171E;
    border: 2px solid #D7171E;
    border-radius: 4px;
    color: black;
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#navbar form button:hover{
    background-color: #121212;
    transition: 1s;
    color: #D7171E;
}
.barras{
    font-size: 2rem;
    margin-left: 55px;
    color: #D7171E;
}
.but{
    background-color: transparent;
}
.menu.active{
    opacity: 1;
    visibility: visible;
}
.menu{
    opacity: 0;
}
@media (max-width: 992px){
    #navbar h1{
        margin-left: 30px;
    }
    #navbar input{
        padding: 8px;
        width: 100px;
        height: 30px;
        margin-top: 20px;
    }
}