#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
}
#navbar h1{
    font-size: 3rem;
    margin-left: 3%;
}
#navbar h1 a{
    display: flex;
    align-items: center;
    gap: 0.5rem;

}
#navbar form{
    display: flex;
    gap: 0.5rem;
}
#navbar input{
    padding: 0rem 1.7rem;
    border-radius: 4px;;
    background-color: #121212;
    color: #D7171E;
    border: 2px solid #D7171E;
}
#navbar form button{
    background-color: #D7171E;
    border: 2px solid #D7171E;
    border-radius: 4px;
    color: black;
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#navbar form button:hover{
    background-color: #121212;
    transition: 1s;
    color: #D7171E;
}
.barras{
    font-size: 2rem;
    margin-left: 55px;
    color: #D7171E;
}
.but{
    background-color: transparent;
}
.menu ul li a{
    text-decoration: none;
}
.menu.inactive{
    position: absolute;
}
.menu.active{
    opacity: 1;
    visibility: visible;
    animation: showSidebar 1s;
    position: absolute;
    padding: 20px;
    padding-left: 50px;
    margin-left: 70px;
    z-index: 1;
    background-color: #1212128a;
}
.menu.active li a{
    width: 0px;
    height: 0px;
    font-size: 1.4rem;
    text-decoration: none;
}
.menu.active li a:hover::after{
    width: 60px;
    height: 0px;
    padding: 0px;
    border-bottom: 4px solid white;
}
.menu.active li a::after{
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .9s;
}
.menu{
    opacity: 0;
}
@keyframes showSidebar {
    from {
      opacity: 0;
      top: 0;
      width: 0;
    }
    to {
      opacity: 1;
      top: 100px;
    }
  }
@media (max-width: 992px){
    #navbar h1{
        margin-left: 30px;
    }
    #navbar input{
        padding: 8px;
        width: 100px;
        height: 30px;
        margin-top: 20px;
    }
}